<HTML>   

<HEAD><TITLE>Test Template</TITLE></HEAD>   

<BODY>      

  <TMPL_INCLUDE NAME="header.tmpl">     

   Please contact the person listed below: <BR>  

  <A HREF="mailto:<TMPL_VAR NAME=email>">  

  <TMPL_VAR NAME=person>  </A>